src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flight-api="http://www.mulesoft.org/schema/mule/american-flight-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flight-api http://www.mulesoft.org/schema/mule/american-flight-api/current/mule-american-flight-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getFlights" doc:id="60dccdcf-87ed-4ea6-9ff9-52ca71fc2737" >
		<http:listener doc:name="GET/flights" doc:id="fcbffa96-662a-4404-92e2-768d03e83cc6" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET" />
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="5208a30c-92af-4329-9f1e-40be906fbe76" variableName="airline"/>
		<flow-ref doc:name="setCode" doc:id="6d1ba82f-8f9a-4fca-b268-8c62cec99691" name="setCode"/>
		<validation:is-true doc:name="Is Valid Destination" doc:id="cbd731b0-dd2c-4fed-9b95-56b28080767a" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]"/>
		<choice doc:name="Choice" doc:id="cb7779d6-cdf6-41a9-8631-81cd20adcbbf" >
			<when expression='#[vars.airline == "american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="8f1d5e2b-3c25-4f06-b2bb-b579e65daf14" name="getAmericanFlights"/>
			</when>
			<when expression='#[vars.airline == "united"]'>
				<flow-ref doc:name="getUniitedFlights" doc:id="f48aace8-3902-4634-b080-ca4ab5762652" name="getUnitedFlights"/>
			</when>
			<when expression='#[vars.airline == "delta"]'>
				<flow-ref doc:name="getDeltaFlights" doc:id="1ce19e33-1f20-4c71-9b5a-4068bd89c796" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="d0acb802-64e5-4892-af52-9b4a4d575f90" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flight] to JSON" doc:id="55ad8b6e-8039-4cd7-8440-4a70597134fa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="468484a5-bdfa-4ca3-b93e-1b7b0a8b77b7" />
	</flow>
	<flow name="getAllAirlineFlights" doc:id="fe5a8132-ecc6-41de-91b3-1f284a44060b" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="c4bc7e20-e826-4b60-8e4c-d864e6fb8d4f" >
			<route >
				<flow-ref doc:name="getAmericanFlights" doc:id="d28aaf67-4e27-4db3-ac01-b98d067f5b90" name="getAmericanFlights"/>
			</route>
			<route >
				<flow-ref doc:name="getUnitedFlights" doc:id="db5f173e-948e-4bb4-b9b0-2de3a8194be5" name="getUnitedFlights"/>
			</route>
			<route >
				<flow-ref doc:name="getDeltaflights" doc:id="e08b7804-d57a-4769-9803-68e2aab7d663" name="getDeltaFlights"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Flatten to [Flights]" doc:id="089a4a9b-7adf-4f8d-9080-3e4eaf7182f1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e20adec4-7393-4946-986c-a9330fa11b4b" />
	</flow>
	<sub-flow name="setCode" doc:id="a39fb5e1-147b-4918-b605-b16d552811f9" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="setCode" doc:id="fc0e9005-fa3c-4095-96d6-403521092fe4" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="98af0e5d-aefe-4881-abc9-35f49c310c2b" >
		<american-flight-api:get-flights doc:name="Get flights" doc:id="99131172-7640-4544-8307-ef81dfe476e8" config-ref="AmericanFlightAPI_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="0aeb4e11-88c2-434d-834e-fd8640469b74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="52ebdd25-04da-4991-882c-8fffac8ac041" />
	</flow>
	<flow name="getUnitedFlights" doc:id="bbd5ffba-df11-4cf5-8cfb-99c8465376f6" >
		<http:request method="GET" doc:name="Get flights" doc:id="9377566e-f778-4e16-ad27-8d1c238c8de9" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flights]" doc:id="9b37c9c0-f887-433f-b23d-5aad258ddcc7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="209644d8-8cf6-4797-8b63-fb2b0295e31f" />
	</flow>
	<flow name="getDeltaFlights" doc:id="25b94ad8-9b62-4de1-baa0-5913f1dcf14c" >
		<ee:transform doc:name="PassCode" doc:id="98684221-b3d5-4424-8f37-d063306e1b0d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Get flights" doc:id="6ee4165c-1228-4db0-beb0-345912191eff" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="SOAP to [Flights]" doc:id="49d8dcb9-8ab6-48d1-bb2f-cccc795e9d9b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eed73a15-d238-4f27-8aaf-f2036eb378cd" />
	</flow>
</mule>
